body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    height: 95%;
    background: rgb(172, 172, 172);

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f11a;
}